obj
bin
build
PublishProfiles
_ReSharper.*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.swp
*.dotCover
*.vcxproj.user
*.sdf
*.opensdf
*.DotSettings.user
OADSI.exe.config
*.ncrunchsolution
*.ncrunchproject
*.ncrunchsolution.user
*.orig
