.card {    
    position: relative;        
}

.card .face {
    position:absolute; 
    width: 100%;
    height: 220px; 
    padding:12px;     
    
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -ms-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

.card .back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;    
    backface-visibility: hidden;

    -moz-transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);    
    transform: perspective(1000px) rotateY(-180deg);
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .front {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -moz-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.flip .back {
    -moz-transform: perspective(1000px) rotateY(0);
    -webkit-transform: perspective(1000px) rotateY(0);
    transform: perspective(1000px) rotateY(0);
}
.card.flip .front {
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
}