<div class="card_content" >        
    <span data-bind="text: cardCount"/>
    <span class="deckName" data-bind="text: deckName"></span>
    <div class="card" data-bind="click: flip">
        <div class="front face">
            <h1 data-bind="text: card().frontHeading"></h1>
            <p data-bind="text: card().front"></p>
        </div>
        <div class="back face">
            <h1 data-bind="text: card().backHeading">Capital</h1>
            <p data-bind="text: card().back"></p>
        </div>
    </div>        
</div>    